.divNavBar {
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #212529;
}

.logo {
    width: 10rem;
    margin-left: 2rem;
}

.titleNavBar {
    font-size: 2rem;
}

.navLinkNavBar {
    margin: 0 2rem;
}

.cartNavBar {
    margin-left: 8rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
}

.balloonItems {
    font-size: 1.7rem;
    margin-left: 0.3rem;
}