.cart {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.finalCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priceTotal {
    font-size: 1.2rem;
}

.buttonCartItem {
    width: 15rem;
}

.buttonCartItem2 {
    margin-top: 0.5rem;
}